<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IOS Clock test</title>
</head>
<body>
  <h1>Multiple Clock  </h1>
  <div class="container" >
      <!-- 第一部分:導覽列設定 -->
          <nav class="navbar">
            <ul>
              <li><a routerLink="worldtime">世界時鐘</a></li>
              <li><a routerLink="alarm">鬧鐘</a></li>
              <li><a routerLink="stopwatch">碼表</a></li>
              <li><a routerLink="timer">計時器</a></li>
              <li><a routerLink="pomodoro">番茄鐘</a></li>
            </ul>
          </nav>
  </div>
</body>
</html>
