
.container{
  background-color: burlywood;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: bold;
  position: relative;
}

h2{
  font-weight: bold;
}

p{
  font-size: 40px;
  color: black;
}